.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  margin: 0 10px;
  text-align: center;
  transition: 0.25s;
}

.contact:hover {
  transform: scale(1.1);
  color: #2196f3;
}

.contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact i {
  margin: 0;
  font-size: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact p {
  font-size: 12px;
  margin: 0;
  transition: 0;
}

@media (max-width: 550px) {
  .container {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .contact {
    width: 70px;
  }

  .contact:nth-of-type(1), .contact:nth-of-type(2), .contact:nth-of-type(3) {
    margin-bottom: 10px;
  }

  .contact:nth-of-type(3), .contact:nth-of-type(6) {
    width: 64px;
  }
}
