.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .contact {
    margin: 0 10px;
    text-align: center;
    transition: 0.25s;

    @media (max-width: 550px) {
      width: 70px;
    }

    @media (max-width: 550px) {

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin-bottom: 10px;
      }

      &:nth-of-type(3),
      &:nth-of-type(6) {
        width: 64px;
      }
    }

    &:hover {
      transform: scale(1.1);
      color: #2196f3;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    i {
      margin: 0;
      font-size: 64px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    p {
      font-size: 12px;
      margin: 0;
      transition: 0;
    }
  }

  @media (max-width: 550px) {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}
