.container {
  margin: 0 32px;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px 0;
}

@media (max-width: 1280px) {
  .projects {
    margin: 16px auto;
    max-width: 680px;
  }
}
