.container {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--white);
  height: 80px;
  box-shadow: 0 0 5px #333;
  display: flex;
  align-items: center;
}

.container > div {
  margin-left: 12px!important;
  flex-shrink: 0;
  cursor: pointer;
}

.container > button {
  border: 0;
  padding: 0;
  background: transparent;
  font-size: 16px;
  margin-right: 20px;
  color: var(--black);
}

.container > button:hover {
  color: var(--blue);
}

.container > button:last-of-type {
  margin-right: 28px;
}
