.container {
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px #333;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition: 0.25s;
  position: relative;
}

.type {
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 5px #333;
  background: #fff;
  padding: 5px 25px;
  top: -2px;
  right: -23px;
  transform: rotate(45deg);
}

.type > i {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg);
}

.image {
  width: 300px;
  height: 180px;
  position: relative;
}

.container > h1 {
  margin: 10px 20px;
}

.container > p {
  margin: 5px 20px;
  line-height: 24px;
  color: var(--black);
}

.container:hover {
  transform: scale(1.05);
}

.buttons {
  margin: 5px auto;
  text-align: center;
}

.buttons > a {
  color: var(--gray);
  display: inline-block;
  background: var(--blue);
  border: 3px solid var(--purple);
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.25s;
}

.buttons > a:hover {
  background: var(--purple);
}

.filler {
  flex-grow: 1;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.icons > div {
  margin: 5px;
}
