.container {
  background: #121212;
  transform: skewY(3deg);
  margin-top: 50px;
  padding: 50px 0;

  >h1 {
    text-align: center;
    color: var(--gray);
    font-weight: 900;
    font-size: 64px;
    margin: 0 0 20px 0;
  }

  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 20px;
  }

  .section {
    width: 300px;
    margin: 20px;
    background: var(--gray);
    border-radius: 30px;
    box-shadow: 0 0 4px #999;
    padding: 10px 0;
    transition: 0.25s;
    cursor: pointer;

    &:hover {
      transform: skewY(-3deg) scale(1.1);
      background: #fff;
      box-shadow: 0 0 14px #999;
    }

    >h1 {
      text-align: center;
      margin: 10px 0;
    }

    a:hover {
      color: #2196f3;
    }
  }

  .subsection {
    display: flex;

    >.subtitle {
      width: 50%;
      text-align: right;
      padding: 8px;
      font-weight: bold;
    }

    >.icons {
      width: 50%;
      padding-left: 5px;
      position: relative;

      >div {
        margin: 8px 0;
      }

      &:after {
        content: "";
        background: black;
        position: absolute;
        bottom: 8px;
        top: 8px;
        left: -1px;
        width: 2px;
      }
    }
  }
}
