.container > h1 {
  text-align: center;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  width: 300px;
  margin: 10px;
  background: #efefef;
  border-radius: 10px;
}
