* {
  font-family: 'Roboto Mono', monospace;
  word-break: break-word;
}

html, body, #root {
  height: 100%;
}

button {
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

textarea {
  resize: none;
}

/* Widget */

.widget {
  background-color: rgba(239, 239, 239, 0.85);
  width: fit-content;
  height: fit-content;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  padding: 12px;
  box-shadow: 0 0 5px #999;
  transition: 0.2s;
}

.widget:hover {
  transform: scale(1.05);
}

.widget h1 {
  margin: 0 0 5px 0;
  font-size: 24px;
}

.widget form {
  display: flex;
  flex-direction: column;
}

.widget form button {
  margin-top: 10px;
}

/* Colors */

.success {
  color: green;
}

.error {
  color: red;
}
