* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  background: var(--gray);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --white: #ffffff;
  --gray: #efefef;
  --black: #121212;
  --blue: #2196f3;
  --purple: #3f51b5;
}

.flexfill {
  flex-grow: 1;
}

.icon-red {
  color: red;
}

.icon-orange {
  color: orange;
}

.icon-yellow {
  color: #d4bf08;
}

.icon-green {
  color: green;
}

.icon-blue {
  color: #007bff;
}

.icon-purple {
  color: purple;
}

.icon-black {
  color: black;
}

.icon-gray {
  color: dimgray;
}

.icon-brown {
  color: #654321;
}

.icon-pink {
  color: #c71585;
}
