* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

:root {
  --gray0: #efefef;
  --gray1: #999999;
  --gray2: #555555;
  --gray3: #333333;
  --blue0: #007bff;
  --blue1: #2196f3;
  --blue2: #3f51b5;
}

.icon-red {
  color: red;
}

.icon-orange {
  color: orange;
}

.icon-yellow {
  color: #d4bf08;
}

.icon-green {
  color: green;
}

.icon-blue {
  color: #007bff;
}

.icon-purple {
  color: purple;
}

.icon-black {
  color: black;
}

.icon-gray {
  color: dimgray;
}

.icon-brown {
  color: #654321;
}

.icon-pink {
  color: #c71585;
}
